--find-links https://download.pytorch.org/whl/torch_stable.html
numpy==1.26.4
pillow>=6.2.0
torch>=1.6.0
torchvision>=0.7.0
werkzeug==2.3.7
flask==2.3.3
flask_wtf==1.2.1
flask_mobility==1.1.0
wtforms==3.1.2
albumentations==0.4.5
PyMuPDF==1.23.26
opencv-python-headless
imgaug
matplotlib
scipy
-e src/ovotools